@import "../abstracts/include-media";
@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/functions";

.is-boxed {
  background: color(bg, 2);
}

.body-wrap {
  background: color(bg, 1);
  overflow: hidden;
  /* Sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.boxed-container {
  max-width: 1440px;
  margin: 0 auto;
  @include shadow;
}

main {
  flex: 1 0 auto;
}

.section-inner {
  position: relative; /* To always display inner elements above pseudo decorative stuff */
  padding-top: 48px;
  padding-bottom: 48px;
}

.decklist_form {
  display: grid;
  grid-gap: 0 0.5rem;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    "submit submit";
  align-items: center;
  justify-items: left;
  label {
    justify-self: right;
  }
  .form_submit {
    grid-area: submit;
    width: 100%;
  }
  .form_text {
    width: 100%;
  }
}

@include media(">medium") {
  .section-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
